body{
        background: url("../images/background-mobile.jpg") no-repeat center top;
        background-size: cover;
}

.layout {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.font {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}
.nav {
	background-color: #69AFE0;
	height: 20px;
}
ul {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
li {
	display: inline-block;

}
.menu {
	font-size: 15px;
	text-decoration: none;
	display: inline-block;
}
.menu-first {
	margin-right: 130px;
}
a.menu:link {
	color: #000;
}
a.menu:visited {
	color: #000;
}
a.menu:hover {
	color: #000;
}
a.menu:active {
	color: #000;
}
.background {
	position: relative;
	width: 100%;
	max-height: 100%;
}
.content {
	width: 100%;
	position: absolute;
  	top: 40px;
  	left: auto;
  	right: auto;
  	color: #FFF;
}
.content-layout {
	width: 100%;
	max-width: 500px;
}
.info {
	margin-top: 80px;
}
p.intro {
	width: 320px;
	font-size: 14px;
}
p.copyright {
	font-size: 12px;
}
.fish {
	margin-top: -50px;
	margin-left: 250px;
}
.poster {
	margin-top: 70px;
}
.button {
	margin-top: 50px;
}
.tap {
	margin-left: 10px;
	margin-right: 10px;
}
.prego {
	margin-top: 10px;
	margin-left: 250px;
}
.havefun {
	font-size: 50px;
}
.crab {
	margin-top: 10px;
	margin-left: -250px;
	margin-bottom: 40px;
}
